* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button-container {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
}
