* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  border: 2px #ffffff solid;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.5rem #3d4ecb,
    0 0 0.2rem #3d4ecb, 0 0 0.7rem #3d4ecb, inset 0 0 0.3rem #3d4ecb;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 130px;

  &__items {
    color: #ffffff;
    font-weight: 700;
    &--value {
      font-size: 1.3rem;
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  &__button {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    padding: 2px;
    font-weight: 700;
    color: #000000;

    &:active,
    &:focus {
      filter: brightness(130%);
    }
  }
}
